<link rel="import" href="components/iron-doc-viewer/iron-doc-viewer.html">
<link rel="import" href="components/iron-component-page/iron-component-page.html">
<link rel="import" href="components/iron-icon/iron-icon.html">
<link rel="import" href="components/iron-icons/iron-icons.html">
<link rel="import" href="components/iron-iconset/iron-iconset.html">
<link rel="import" href="components/paper-input/paper-input.html">
<link rel="import" href="components/paper-input/paper-input-container.html">
<link rel="import" href="components/paper-input/paper-input-error.html">
<link rel="import" href="components/paper-input/paper-input-char-counter.html">
<link rel="import" href="components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="components/paper-input/paper-textarea.html">
<link rel="import" href="components/paper-button/paper-button.html">
<template is="dom-bind">
  <custom-validator></custom-validator>
  <div class="vertical-section card iron-doc-viewer">
    <paper-input-container>
      <label>username</label>
      <input is="iron-input" ng-model="username"></input>
      <paper-input-error>No such user</paper-input-error>
    </paper-input-container>
    <paper-input-container>
      <label>password</label>
      <input is="iron-input" type="password" ng-model="password"></input>
      <paper-input-error>Incorrect Password</paper-input-error>
    </paper-input-container>
    <paper-button raised ng-click="post(username,password)" class="colorful custom x-scope paper-button-0" style="background-color: #4285f4; color: #fff" roll="button">
      <iron-icon icon="check"></iron-icon>
      Sign In
    </paper-button>
  </div>  
</template>